<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.bootz.miaouv1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Miaou -V1</name>
    <description>
        Histoires du chat Miaou
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Philippe Bootz
    </author>
    <content src="index.html" />
    <access origin="*" />
   <licence>Copyright (c) 2017 Philippe Bootz.</licence>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" />
</widget>
